.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background: #1a3852;
  }

  .loading-spinner {
    border: 10px solid rgba(0, 0, 0, 0.1);
    border-top-color: #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin 1s ease-in-out infinite;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
