.button {
  color: #ffffff;
  background-color: #e0786c;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 16px;
  line-height: 44%;
  text-align: center;
  vertical-align: top;
  letter-spacing: -0.02em;
  width: 148px;
  height: 48px;
  border-radius: 12px;
  box-sizing: border-box;
  border: #e0786c 1px solid;
}
