body {
  margin: 0;
}

.container-for-quiz-page {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #1d3e5a;
}

.create-quiz-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.create-quiz-sidebar {
  flex: 1;
  margin-right: 20px;
  color: white;
}

.create-quiz-main-area {
  flex: 3;
  align-self: center;
  min-width: 250px;
}

.main-area-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 99%;
}

.quiz-name {
  margin: 0;
  font-weight: 700;
  font-style: normal;
  font-family: "Poppins";
  font-size: 32px;
  color: #fdfcdf;
}

.quiz-question {
  margin: 0;
  font-weight: 600;
  font-style: normal;
  font-family: "Poppins";
  font-size: 32px;
  color: #e0786c;
}

.create-qution-card {
  background-color: #fff;
  border-radius: 12px;
  padding: 45px 73.2px;
  margin: 6px;
}

.create-quiz-hint-text {
  letter-spacing: 0;
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  font-family: "Inter";
  color: #387c89;
}

.answer-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 14px;
  grid-column-gap: 14px;
  margin-bottom: 32px;
}

.answer-option {
  width: 100%;
}

.create-quiz-buttons {
  background-color: #e0786c;
  font-weight: 600;
  font-size: 18px;
  /* font-family: "Poppins"; */
  color: #fdfcf5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.create-quiz-buttons:hover {
  background-color: #ca6c61;
}

.quiz-button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quiz-save-button {
  background-color: #f5564a;
  font-weight: 600;
  font-size: 18px;
  /* font-family: "Poppins"; */
  color: #fdfcf5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.quiz-save-button:hover {
  background-color: #d32f2f;
}

.quiz-remove-button {
  background-color: #486075;
  font-weight: 600;
  font-size: 18px;
  /* font-family: "Poppins"; */
  color: #fdfcf5;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.quiz-remove-button:hover {
  background-color: #314c63;
}

@media only screen and (max-width: 768px) {
  .create-quiz-container {
    flex-direction: row;
  }

  .create-quiz-hint-text {
    font-size: 13px;
  }

  .create-qution-card {
    padding: 20px 40px;
    margin: 8px;
  }

  .create-quiz-sidebar {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .create-quiz-main-area {
    width: 100%;
  }

  .answer-options {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .create-quiz-container {
    flex-direction: row;
  }

  .create-quiz-hint-text {
    font-size: 11px;
  }
  .quiz-name {
    font-size: 24px;
  }

  .create-qution-card {
    padding: 10px 20px;
    margin: 8px;
  }

  .create-quiz-buttons {
    font-size: 14px;
    padding: 8px 16px;
  }

  .quiz-save-button,
  .quiz-remove-button {
    font-size: 14px;
    padding: 8px 16px;
  }
  .answer-options {
    grid-template-columns: 1fr;
  }
}
